
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #0c0000;
    animation: backgroundAnimation 10s infinite alternate;
  }
  
  @keyframes backgroundAnimation {
    0% {
      background-color: #acf5ff;
    }
    25% {
      background-color: #05c5ffe8;
    }
    50% {
      background-color: #61d2ff;
    }
    75% {
      background-color: #08b7fc;
    }
    100% {
      background-color: #1fc4f7;
    }
  }
    
  html{
    scrollbar-color: red;
    scrollbar-width: large;
  }  



    header {
      background-color: #619fd1;
      color: rgb(0, 0, 0);
      padding: 1rem;
      text-align: center;
    }
    
    
    .container {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1rem;
      padding: 1rem;
    }
    

    nav {
      background: #ddd;
      color: black;
      padding: 1rem;
      border-radius: 5px;
    }
    
    nav ul {
      list-style-type: none;
      padding: 0;
    }
    
    nav ul li {
      margin-bottom: 0.5rem;
    }
    
    nav ul li a {
      text-decoration: none;
      color: #000000;
    }

    nav ul li a:hover {
      color: #209FF5;
    }
    
    
    main {
      background: white;
      padding: 1rem;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    
    footer {
      background-color: #2a3346;
      color: white;
      text-align: center;
      padding: 0.5rem;
      margin-top: 1rem;
    }
    
    
    @media (max-width: 768px) {
      .container {
        grid-template-columns: 1fr;
      }
    }
    
    img {
          margin-left: 7px;
          width: 250px;
          height: 25vh;
    }



    #box1 {
        font-size: 25px;
        text-align: center;
        border: 5px solid;
        width: 75%;
        margin: auto;
        background-color: rgb(159, 236, 255);
    }    

    #about {
        font-size: 30px;
    }
